body
{
    background-color: rgb(199, 173, 144);
    text-align: left;
}
img
{
    content: url(OIP.jfif);
    width: 299px;
    border: 5px solid;
}
p
{
    color: brown;
    font-weight: 800;
    font-size: 23px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1
{
    color: rgb(82, 9, 9);
    font-weight:700;
    font-size: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-self: baseline;
}
s
{
    color:blue;
    font-weight: 800;
    font-size: 23px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div
{
    max-width: 800px;
    margin:auto;
}